.field{
    width: 25vw;
    border: 2px solid black;
    padding: 5px;
}

.done{
    background-color: darkgray;
    color: gray;
    text-decoration: line-through;
}

.deadline{
    color: red;
    font-weight: bolder;
    background-color: indianred;
    border: 2px solid red;
}

